apiVersion: v1
kind: Secret
metadata:
  name: auth-secrets
  namespace: auth-service
type: Opaque
stringData:
  PORT: "8081"
  SECRET_KEY: "your_secure_key_here"
  IS_DEVELOPMENT: "false"
  DATABASE_HOST: "postgres.shared-services.svc.cluster.local:5432"
  DATABASE_DB_NAME: "auth_service_db"
  DATABASE_USER: "postgres"
  DATABASE_PASSWORD: "postgres"
  KAFKA_URL: "kafka.shared-services.svc.cluster.local:29092"